body {
    margin: 0;
    padding: 0;
    background-image: url('../images/redpaper.png'); /* Replace 'your-background.gif' with the actual path to your GIF */
    background-size: 100% 100%; /* Use 100% for both width and height to fill the entire page */
    background-repeat: repeat;
    background-attachment: fixed;
}

.button {
    display: inline-block;
    padding: 3% 3%; /* Adjust padding for responsiveness */
    color: #fff;
    width: auto; /* Let the content determine the width */
    height: auto; /* Let the content determine the height */
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(0, 0);
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  #buttonleft {
    top: 2%;
    left: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttonhomeblack.png');
  }
  
  #buttonright {
    top: 2%;
    right: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttondesignblack.png');
  }
  
  .button:hover {
    transform: scale(1.1);
  }

  .ball {
    border-radius: 50%; /* Make it a perfect circle */
    width: 3%; /* Adjust the width percentage for responsiveness */
    padding-top: 3%; /* Maintain a 1:1 aspect ratio */
    background: darkolivegreen;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
}

  .parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0%;
    grid-row-gap: 0%;
    }
    
    .div1 { grid-area: 8 / 1 / 11 / 5;
        align-self: start; 
        
    }

    .div1 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
        border: 5px solid darkgreen;
        filter: grayscale(100%);
    }

    .div2 { grid-area: 3 / 4 / 9 / 7; }

    .div2 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
        border: 5px solid darkgreen;
        filter: grayscale(100%);
    }

    .div3 { grid-area: 1 / 4 / 4 / 6; }

    .div3 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
        border: 5px solid darkgreen;
        filter: grayscale(100%);
    }

    .div4 { grid-area: 3 / 1 / 8 / 4; }

    .div4 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
        border: 5px solid darkgreen;
        filter: grayscale(100%);
    }

.div5 { grid-area: 8 / 6 / 11 / 10; }

.div5 img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    border: 5px solid darkgreen;
    filter: grayscale(100%);
}

.div6 { grid-area: 2 / 6 / 6 / 9; }

.div6 img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    border: 5px solid darkgreen;
    filter: grayscale(100%);
}
.div7 { grid-area: 1 / 8 / 4 / 10; }

.div7 img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    border: 5px solid darkgreen;
    filter: grayscale(100%);
}

.div8 { grid-area: 4 / 9 / 8 / 12; }

.div8 img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
    border: 5px solid darkgreen;
    filter: grayscale(100%);
}