body {
    margin: 0;
    padding: 0;
    background-image: url('../images/twinpeaksmountains.png'); /* Replace 'your-background.gif' with the actual path to your GIF */
    background-size: 100% 100%; /* Use 100% for both width and height to fill the entire page */
    background-repeat: repeat;
    background-attachment: fixed;
}

#buttonleft,
#buttonright {
  position: fixed;
  padding: 3%;
  color: #fff;
  width: auto;
  height: auto;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}

#buttonleft {
  top: 2%;
  left: 2%;
  background-image: url('../images/buttonhome.png');
}

#buttonright {
  top: 2%;
  right: 2%;
  background-image: url('../images/buttondesignred.png');
}

#buttonleft:hover,
#buttonright:hover {
  transform: scale(1.1);
}



  .parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }

    
    .div1 { grid-area: 1 / 1 / 4 / 3;
        align-self: start;
        position: relative; 
        
    }

    .div1 img {
        width: 100%;
        height: auto;
        transition: filter 0.3s ease-in-out;
    cursor: pointer;
    }

    .div1:hover img {
        content: url("../images/twinpeakstabletwo.png");
    }



    .div2 { grid-area: 4 / 1 / 6 / 2; }

    .div2 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div2:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div3 { grid-area: 4 / 2 / 5 / 3; }

    .div3 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div3:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div4 { grid-area: 1 / 3 / 2 / 4; }

    .div4 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div4:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div5 { grid-area: 2 / 3 / 3 / 4; }

    .div5 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div5:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div6 { grid-area: 3 / 3 / 4 / 4; }

    .div6 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div6:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div7 { grid-area: 4 / 3 / 5 / 4; }

    .div7 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div7:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div8 { grid-area: 2 / 4 / 5 / 6; }

    .div8 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div8:hover img {
        content: url("../images/blackscreen.png");
    }

    .div9 { grid-area: 1 / 4 / 2 / 5; }

    .div9 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div9:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div10 { grid-area: 1 / 5 / 2 / 6; }

    .div10 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div10:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div11 { grid-area: 1 / 6 / 4 / 8; }

    .div11 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div11:hover img {
        content: url("../images/twinpeakscurtainstwo.png");
    }

    .div12 { grid-area: 4 / 6 / 5 / 7; }

    .div12 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div12:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div13 { grid-area: 4 / 7 / 5 / 8; }

    .div13 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div13:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div14 { grid-area: 5 / 1 / 6 / 2; }

    .div14 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div14:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div15 { grid-area: 5 / 2 / 6 / 4; }
    
    .div15 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div15:hover img {
        content: url("../images/twinpeakshover.png");
    }
    
    .div16 { grid-area: 5 / 6 / 5 / 8;  }
    
    .div16 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div16:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div17 { grid-area: 6 / 6 / 6 / 8; }

    .div17 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div17:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div18 { grid-area: 5 / 4 / 7 / 6; }

    .div18 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div18:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div19 { grid-area: 6 / 1 / 5 / 2; }

    .div19 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div19:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div20 { grid-area: 7 / 1 / 6 / 3; }

    .div20 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div20:hover img {
        content: url("../images/twinpeakshover.png");
    }

    .div21 { grid-area: 7 / 3 / 6 / 6; }

    .div21 img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }

    .div21:hover img {
        content: url("../images/twinpeakshover.png");
    }

    