body {
    margin: 0;
    padding: 0;
    background-image: url('../images/masterandmargarita.gif'); /* Replace 'your-background.gif' with the actual path to your GIF */
    background-size: 100% 100%; /* Use 100% for both width and height to fill the entire page */
    background-repeat: repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: inline-block;
    padding: 3% 3%; /* Adjust padding for responsiveness */
    color: #fff;
    width: auto; /* Let the content determine the width */
    height: auto; /* Let the content determine the height */
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(0, 0);
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  #buttonleft {
    top: 2%;
    left: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttonhome.png');
  }
  
  #buttonright {
    top: 2%;
    right: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttondesignred.png');
  }
  
  .button:hover {
    transform: scale(1.1);
  }

  .text-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.text {
    font-size: 48px;
    color: #a42a04;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    opacity: 1;
    transition: color 0.5s;
}

.text:hover {
    color: goldenrod;
}

@media (max-width: 768px) {
    .text-container {
        top: 10%; /* Adjust top position for mobile */
    }

    .text {
        font-size: 35px; /* Adjust font size for mobile */
    }
}


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1; /* Positions the container behind the text */
    margin-top: 150px; /* Adjust the distance from the top of the page */
  }
  
  .row {
    display: flex;
    flex-wrap: wrap; /* Allow rows to wrap on smaller screens */
    justify-content: space-around;
    margin-bottom: 20px; /* Adjust spacing between rows */
  }
  
  /* Rectangle styles */
  .rectangle {
    width: calc(50% - 20px); /* Adjust the width of the rectangles for mobile (50% width with margins) */
    max-width: 300px; /* Set a maximum width for smaller screens */
    margin: 10px; /* Adjust spacing between rectangles */
    overflow: hidden;
  }
  
  .rectangle img {
    width: 100%;
    height: auto;
  }
  