body {
    margin: 0;
    padding: 0;
    background-image: 
    /* First background image */
    url('../images/blackandwhitefilm.png'), 
    /* Second background image */
    url('../images/blackandwhitefilm.png');
  /* Set background properties for each image */
  background-size: cover, 100% 100%; /* Adjust sizes as needed */
  background-repeat: no-repeat, repeat; /* Set repeat properties */
  background-attachment: fixed, fixed; /* Set attachment properties */
  /* Ensure the first image is placed on top */
  background-position: center, center; /* Adjust positions as needed */
  }

  .button {
    display: inline-block;
    padding: 3% 3%; /* Adjust padding for responsiveness */
    color: #fff;
    width: auto; /* Let the content determine the width */
    height: auto; /* Let the content determine the height */
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(0, 0);
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  #buttonleft {
    top: 2%;
    left: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttonhome.png');
  }
  
  #buttonright {
    top: 2%;
    right: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttondesignred.png');
  }
  
  .button:hover {
    transform: scale(1.1);
  }

  .ball {
    border-radius: 50%; /* Make it a perfect circle */
    width: 3%; /* Adjust the width percentage for responsiveness */
    padding-top: 3%; /* Maintain a 1:1 aspect ratio */
    background: rgb(164, 42, 4);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s;
}


  .parent {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0%;
    grid-row-gap: 0%;
  }
  
  .div1 {
    grid-area: 2 / 2 / 4 / 4;
  }
  
  .div1 p {
    color: rgb(164, 42, 4);
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
  }
  
  .div2 {
    grid-area: 3 / 6 / 4 / 7;
    width: 100%; /* Set the width to 100% */
    height: 0;
    padding-bottom: 100%; /* Create a square aspect ratio, you can adjust the percentage as needed */
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%; /* Make the div a circle */
    clip-path: circle(50% at 50% 50%);
    transition: clip-path 0.5s; /* Create a circular clipping mask */
  }

  .div2:hover {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    border-radius: 0;
    cursor: pointer;
  }
  
  .div2 img {
    width: 100%; /* Ensure the image takes up the entire div */
    height: auto; /* Allow the image's height to adjust while preserving its aspect ratio */
    object-fit: contain; /* Preserve the image aspect ratio within the circle */
  }

  .playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; /* Adjust as needed */
 }


  
  