body {
        margin: 0;
        padding: 0;
        background-image: url('../images/queensgambitbackground.png'); /* Replace 'your-background.gif' with the actual path to your GIF */
        background-size: 100% 100%; /* Use 100% for both width and height to fill the entire page */
        background-repeat: repeat;
        background-attachment: fixed;
        justify-content: center;
        align-items: center;
  }

  #buttonleft,
  #buttonright {
    position: fixed;
    padding: 3%;
    color: #fff;
    width: auto;
    height: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  #buttonleft {
    top: 2%;
    left: 2%;
    background-image: url('../images/buttonhome.png');
  }
  
  #buttonright {
    top: 2%;
    right: 2%;
    background-image: url('../images/buttondesignred.png');
  }
  
  #buttonleft:hover,
  #buttonright:hover {
    transform: scale(1.1);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(8, 100px); /* Adjust the width as needed */
    grid-template-rows: repeat(8, 100px); /* Adjust the height as needed */
    gap: 2px;
    justify-content: center;
     /* Adjust the gap between squares */
  }
  
  .square {
    width: 100%;
    height: 100%;
    background-size: cover;
    cursor: pointer;
  }
  
  .square:nth-child(even) {
    background-color: #ffffff; /* Light color */
  }
  
  .square:nth-child(odd) {
    background-color: #000000; /* Dark color */
  }
  
 
