body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .button {
    display: inline-block;
    padding: 3% 3%; /* Adjust padding for responsiveness */
    color: #fff;
    width: auto;
    height: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(0, 0);
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  #buttonleft {
    top: 2%;
    left: 2%;
    width: auto;
    height: auto;
    background-image: url('../images/buttonhome.png');
  }
  
  #buttonright {
    top: 2%;
    right: 2%;
    width: auto;
    height: auto;
    background-image: url('../images/buttondesignred.png');
  }
  
  .button:hover {
    transform: scale(1.1);
  }

  div {
    width: 300px;
    height: 150px;
  }
  
  .layered-image {
    background: linear-gradient(to right, transparent, mistyrose),
      url("../images/abrikos.png");
  }
  
  