body {
    margin: 0;
    padding: 0;
    background-size: cover; /* Using cover to fill the entire page */
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: flex-start;
    transition: background-image 0.5s ease;
}

#buttonleft,
#buttonright {
  position: fixed;
  padding: 3%;
  color: #fff;
  width: auto;
  height: auto;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}

#buttonleft {
  top: 2%;
  left: 2%;
  background-image: url('../images/buttonhome.png');
}

#buttonright {
  top: 2%;
  right: 2%;
  background-image: url('../images/buttondesignred.png');
}

#buttonleft:hover,
#buttonright:hover {
  transform: scale(1.1);
}

  .container {
    width: 100%;
    justify-content: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
  }
  
  .grid-item {
    width: 120px; /* Set the width of each rectangle */
    height: 1200px; /* Set the height of each rectangle */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .grid-item img {
    max-width: 100%;
    max-height: 100%;
  }