body {
    margin: 0;
    padding: 0;
    background-image: url('../images/masterandmargarita.gif'); /* Replace 'your-background.gif' with the actual path to your GIF */
    background-size: 100% 100%; /* Use 100% for both width and height to fill the entire page */
    background-repeat: repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
  }

  .button {
    display: inline-block;
    padding: 3% 3%; /* Adjust padding for responsiveness */
    color: #fff;
    width: auto; /* Let the content determine the width */
    height: auto; /* Let the content determine the height */
    text-decoration: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(0, 0);
    z-index: 1;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
  }
  
  #buttonleft {
    top: 2%;
    left: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttonhome.png');
  }
  
  #buttonright {
    top: 2%;
    right: 2%;
    width: auto; /* Adjust width for responsiveness */
    height: auto; /* Adjust height for responsiveness */
    background-image: url('../images/buttondesignred.png');
  }
  
  .button:hover {
    transform: scale(1.1);
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 5 / 5; }

    .div1 img {
        width: 100%;
        height: auto;
    }

    .div2 { grid-area: 6 / 2 / 11 / 4; }

    .div2 img {
        width: 100%;
        height: auto;
    }

    .div3 { grid-area: 6 / 10 / 11 / 12; }

    .div3 img {
        width: 100%;
        height: auto;
    }

    .div4 { grid-area: 8 / 5 / 11 / 8; }

    .div4 img {
        width: 100%;
        height: auto;
    }

    .div5 { grid-area: 2 / 6 / 7 / 8; }

    .div5 img {
        width: 100%;
        height: auto;
    }

    .div6 { grid-area: 2 / 9 / 5 / 12; }

    .div6 img {
        width: 100%;
        height: auto;
    }