
body {
    margin: 0;
    padding: 0;
  }


.background-container {
    color: #a42a04; 
    position: absolute;
    background-size: cover;
    width: 100%;
    height: auto;
}

.image-container {
display: flex;
position: absolute;
width: 50%;
height: auto;
/* height: 900px; */
flex-wrap: wrap; /* Enable item wrapping when there's not enough space */
align-content: center;
justify-content: center;
gap: 100px;
margin: 0;
padding: 0;
top: 10%;
left: 50%;
transform: translate(-50%, 50%);
}
  
.image {
 width: 30%;
 height: auto;
 position: absolute;
 left: 40%;
 transition: transform 0.3 ease;   
}

@keyframes rotate {
0% {
    transform: rotate (0deg);
}
100% {
    tranform: rotate (20deg);
}
}

.image:hover {
transform: scale (1.1);
}

#one {
    position: relative;
    overflow: hidden;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: 0%;
  }

#two {
    position: relative;
    overflow: hidden;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: 0%;
}

#three {
    position: relative;
    overflow: hidden;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: 0%;
}

#four {
    position: relative;
    overflow: hidden;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: 0%;
}

#five {
    position: relative;
    overflow: hidden;
    width: 20%;
    height: auto;
    margin-left: 0%;
    margin-top: 0%;
}
  
  