body {
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: rgb(164, 42, 4); 
    color: rgb(164, 42, 4); 
  }

  a:hover {
    text-decoration: underline; 
  }

  #container1 {
    width: 1440px; /* Set the container's width */
    height: 500px; /* Set the container's height */
    background-color: rgb(164, 42, 4); /* Set a background color for the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image1 {
    width: 100%;
    height: 100%;
    background-image: url('firewalk.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    left: 2%;
    top: 2%;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image2 {
    width: 100%;
    height: 100%;
    background-image: url('camera.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    left: 50%;
    top: 0%;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image1:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image2:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#container2 {
    width: 1440px; /* Set the container's width */
    height: 480px; /* Set the container's height */
    background-color: rgb(164, 42, 4); /* Set a background color for the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image3 {
    width: 100%;
    height: 100%;
    background-image: url('oneeyedjacks.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image4 {
    width: 100%;
    height: 100%;
    background-image: url('playingcards.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image5 {
    width: 100%;
    height: 100%;
    background-image: url('hotelkey.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image3:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image4:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image5:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#container3 {
    width: 1440px; /* Set the container's width */
    height: 480px; /* Set the container's height */
    background-color: rgb(164, 42, 4); /* Set a background color for the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image6 {
    width: 100%;
    height: 100%;
    background-image: url('tv.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image7 {
    width: 100%;
    height: 100%;
    background-image: url('blueflower.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image8 {
    width: 100%;
    height: 100%;
    background-image: url('angel.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}


#image6:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image7:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image8:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#container4 {
    width: 1440px; /* Set the container's width */
    height: 500px; /* Set the container's height */
    background-color: rgb(164, 42, 4); /* Set a background color for the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image9 {
    width: 100%;
    height: 100%;
    background-image: url('diary.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image10 {
    width: 100%;
    height: 100%;
    background-image: url('bar.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}



#image9:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image10:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#container4 {
    width: 1440px; /* Set the container's width */
    height: 480px; /* Set the container's height */
    background-color: rgb(164, 42, 4); /* Set a background color for the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image11 {
    width: 100%;
    height: 100%;
    background-image: url('coffee.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image12 {
    width: 100%;
    height: 100%;
    background-image: url('ring.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image13 {
    width: 100%;
    height: 100%;
    background-image: url('donut.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}


#image11:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image12:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image13:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}
#container5 {
    width: 1440px; /* Set the container's width */
    height: 480px; /* Set the container's height */
    background-color: rgb(164, 42, 4); /* Set a background color for the container */
    display: flex;
    justify-content: center;
    align-items: center;
}

#image14 {
    width: 100%;
    height: 100%;
    background-image: url('redheels.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image15 {
    width: 100%;
    height: 100%;
    background-image: url('cherrytime.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}

#image16 {
    width: 100%;
    height: 100%;
    background-image: url('phone.png'); /* Default image */
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease; /* Smooth transition for image change */
}


#image14:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image15:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}

#image16:hover {
    background-image: url('redbackground.png'); /* Image to display on hover */
    cursor: pointer; /* Change cursor to a pointer on hover */
}