body {
    margin: 0;
    padding: 0;
  }

  a {
    position: absolute;
    text-decoration: rgb(164, 42, 4); 
    color: rgb(164, 42, 4); 
    top: 115%;
    left: 8%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
  
  .image-container {
    width: 100%;
    height: auto; /* Set the desired height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.image-background {
    width: 100%;
    height: 100%;
    background-image: url('.about.png'); /* Set the image path */
    /* Additional styling for the image container */
}

.image-container:nth-child(2) .image-background {
    background-image: url('.about.png'); 
    width: 100%;
    height: auto; /* Set the desired height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;/* Set the image path for the second container */
    /* Additional styling for the second image container */
}

  
  .text-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(164, 42, 4, 0.8);
    color: #AFE1AF;
    padding: 20px;
    width: 800px;
    height: 500px;
  }
  
  .text-overlay h1
  {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  }

  .text-overlay p
  {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  }

  .text-overlay details
  {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  }

  .text-overlay li
  {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  }

  .text-overlay ul
  {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  }