body {
    margin: 0;
    padding: 0;
  }

a {
    text-decoration: rgb(164, 42, 4); 
    color: rgb(164, 42, 4); 
  }
  a:hover {
    text-decoration: underline; 
  }



#background-container {
    background-color: #a42a04; 
    background-position: absolute;
    background-repeat: repeat;
    width: 1440;
    height: 4000;
}

#my-image {
    width: 1000px;
    height: auto; 
    margin-top: 0px; 
    margin-left: 200px; 
}
.text-overlay-container {
    position: absolute;
    top: 40%; 
    left: 10%; 
    transform: translate(-50%, -50%);
    color: #000000; /* Text color */
    padding: 5px;
    text-align: left; 
    width: 200px;
    height: 500px

}

.text-overlay-container p {
    font-size: 14px;
    margin: 5px;
    font-family: 'Libre Baskerville', serif;
    line-height: 2;
    letter-spacing: 2;
}




