body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: #a42a04; 
  color: #a42a04; 
}

.a:hover {
  text-decoration: underline;
}

#photobackground {
  position: absolute;
  width: 1440px;
  height: auto;
}

#scrollButton {
  position: absolute;
  display: flex;
  background: none;
  border: none; /* Remove the button border */
  padding: 0;
  left: 45%;
  top: 40%;
}

#scrollButton img {
  width: 100px;
  height: 100px; /* Adjust the height of the image */
}

/* Style for the sections */
.scroll-target {
  height: 1000vh; /* Set the height to control the scrolling distance */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #a42a04; /* Set a background color for visibility */
}


.image-container {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 300px;
  /* height: 900px; */
  flex-wrap: wrap; /* Enable item wrapping when there's not enough space */
  align-content: center;
  justify-content: center;
  gap: 50px;
  margin: 0;
  padding: 0;
  top: 130%;
  left: 40%;
  transform: translate(-50%, 50%);/* Adjust vertical spacing between wrapped items */
}

.image:hover {
  transform: scale(1.1); /* Scale up the item on hover */ /* Change background color on hover */ 
}

.image {
width: 180px;
height: 180px;
left: 40%;
position: abosolute;
transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

@keyframes rotate {
  0% {
      transform: rotate(10deg);
  }
  100% {
      transform: rotate(10deg);
  }
}

.image:hover {
  animation: rotate 3s linear infinite; /* Rotate the item on hover */
}

#masterandmargarita {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#about {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#ambience {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#twinpeaks {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#nyc {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#background-container {
  background-color: a42a04; 
  background-position: relative;
  background-size: cover;
  width: 1440px;
  height: auto;
  background-repeat: no-repeat;
}

.text-overlay {
  position: absolute;
  display: inline-block;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: 	#C1E1C1; 
  padding: 0%; 
  width: 1000px;
  height: 250px;
}

.fade-text {
  font-size: 38px;
  color: #C1E1C1; 
  font-family: 'Cinzel Decorative', bold;/* Text color */
  position: relative;
  display: inline-block;
  animation: fadeInOut 5s ease infinite;;
}

@keyframes fadeInOut {
  0% {
      opacity: 0; /* Start with no opacity (invisible) */
  }
  50% {
      opacity: 1; /* Fully visible */
  }
  100% {
      opacity: 0; /* Fade out again (invisible) */
  }
}





