body {
  margin: 0;
  padding: 0;
}
a {
  /* width: 100%;
  height: 100%; */
  text-decoration: #a42a04; 
  color: #a42a04; 
}

.a:hover {
  text-decoration: underline;
}

#photobackground {
  position: absolute;
}

.image-container {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 300px;
  /* height: 900px; */
  flex-wrap: wrap; /* Enable item wrapping when there's not enough space */
  align-content: center;
  justify-content: center;
  gap: 50px;
  top: 0%;
  left: 40%;
  transform: translate(-50%, 50%);/* Adjust vertical spacing between wrapped items */
}

.image:hover {
  transform: scale(1.1); /* Scale up the item on hover */ /* Change background color on hover */ 
}

.image {
width: 180px;
height: 180px;
left: 40%;
position: abosolute;
transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

@keyframes rotate {
  0% {
      transform: rotate(10deg);
  }
  100% {
      transform: rotate(10deg);
  }
}

.image:hover {
  animation: rotate 3s linear infinite; /* Rotate the item on hover */
}

#masterandmargarita {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#about {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#ambience {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#twinpeaks {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#nyc {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
  margin-top: 0%;
  margin-left: 0%;
}

#background-container {
  background-color: a42a04; 
  background-position: relative;
  background-size: cover;
  width: 1440px;
  height: auto;
  background-repeat: no-repeat;
}

.text-container h1 {
  position: absolute;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: 	#C1E1C1; 
  padding: 0%; 
  width: 800px;
  height: 400px;
}

.text-container h1 {
  font-size: 60px;
  margin: 5px;
  font-family: 'Cinzel Decorative', bold;
  line-height: 2;
  letter-spacing: 2;
  text-align: left;
}




