
body {
  background: repeating-linear-gradient(#FA5F55, #FFC0CB);
}
h1 {
  font-size: 40px;
  text-align: center;
}

p,
li,
details{
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 80%;
  margin: 0 auto;
  background-color: #FFC0CB;
  padding: 0 20px 20px 20px;
  border: 20px solid #B22222;
}
.image-container {
  display: flex
  justify-content:center;
  width: 1000px;
  height: 1500px;
  background-image: url("./twinpeaks.png");
  background-position: center;
  position: relative
}